<tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Ottoman432@gmail.con</td>
    <td>Male</td>
    <td>Active</td>
    <td>
        <a href="/update-user">edit</a>
        <a href="#">del</a>
    </td>
  </tr>